

.modal-content-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

@media screen and (min-width:600px) {
    .modal-content-container{
        flex-direction: row;
        justify-content: flex-start;
    
    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-self:center;

    width:auto;
    height: auto;
}


.book-img{
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    align-self: center;
}
@media screen and (min-width:992px) {
    .book-img{
        height: 200px;
        width: 250px;
    }
}
.modal-book-details{
    max-width: 300px;
}
@media screen and (min-width:600px) {
    .book-img{
        align-self: normal;
    }
    .modal-book-details{
        margin-left: 20px;
        margin-right: 20px;
    }
}

.book-title{
    font-size: var(--main-heading);
    font-weight:var( --font-weight600);
}
.book-authors{
    font-size: var(--para);
    font-weight: var(--font-weight600);
}

.book-publisher{
    font-size: 14px;
    color: #0AAD0A;
}
.out-of-stock{
    font-size: 16px;
    color: red;
    font-weight: bold;
}
.in-stock{
    font-size: 16px;
    color: #0AAD0A;
    font-weight: bolder;
   
}

.cart-btn{
    margin-top: 0px;
    border: none;
    border-radius: 10px;
    background-color: #0AAD0A;
    color: #ffffff;
    font-size: 16px;
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quantity-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
}

.quantity{
    font-size: 16px;
    margin:0px 10px;
}

.checkout-btn{
  
    background-color:tomato;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #ffffff;
}


.retail-price{
    font-size: var( --sub-heading);
    color: #000000;
    text-decoration: line-through;
    margin-right: 10px;
}
.list-price{
    font-size: var( --sub-heading);
    color: #0AAD0A;
    font-weight: bold;
}